body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

.main {
    position: fixed;
    top: 100px;
    left: 50px;
}

.left-bar{
    float: left;
    width: 45%;
}
.right-bar{
    float: right;
    width: 45%;
}

img {
    height: 400px;
    margin-right: 50px;
    border-radius: 10px;
}

.blog-title{
    color: darkred;
}

footer {
    text-align: right;
    color: darkred;
}