.main{
    position: fixed;
    top: 100px;
    left: 50px;

}

.left-bar{
    float: left;
    width: 45%;
}
.right-bar{
    float: right;
}

img {
    height: 200px;
    margin-right: 50px;
    border-radius: 10px;
}

.blog-title{
    color: darkred;
}

footer {
    text-align: right;
    color: darkred;
}