html{
    background: black;
    color: white;
    font-size: 400;
}

.main-frame{
    position: absolute;
    top: 50px;
    left: 50px;
}

.kyotun-frame{
    background: yellow;
    border: 10px white;
    width: 150px;
    border-radius: 15px;
    padding: 5px;
}
.kyotun-text{
    color: black;
    text-align: center;
    text-transform: uppercase;
}

p {
    color: crimson;
}

.black-text{
    color:black;
}
.red-text {
    color: red;
}
.blue-text {
    color: blue;
}

li[value="1"]{
    color: crimson;
}
li[value="2"]{
    color: darkorange;
}
li[value="3"]{
    color: aqua;
}

.lighter-text{
    font-weight: 100;
    font-size: 0.8rem;
}