html{
    background: black;
    color: white;
    font-size: 400;
}

.kyotun-frame{
    background: yellow;
    width: 120px;
    border-radius: 5px;
}

p {
    color: crimson;
}

.black-text{
    color:black;
}
.red-text {
    color: red;
}
.blue-text {
    color: blue;
}

li[value="1"]{
    color: crimson;
}
li[value="2"]{
    color: darkorange;
}
li[value="3"]{
    color: aqua;
}

.lighter-text{
    font-weight: 100;
    font-size: 0.8rem;
}